
.assignment-div{
    height: 100vh;
    width: 100%;
    background-image: url("../assests/image/background_Image.jpeg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}
/*
#assignment > h1{
    margin: 20px 0;
    text-align: center;
    font-family: Anek Bangla Bold, "Bell MT" , Serif;
}

#assignment .btn-assignment {
    display: block;
    align-self: center;
    margin: 25px auto;
    border: none;
    padding: 10px 44px;
    font-size: 20px;
    width: 50%;
    position: relative;
    border-radius: 50px;
    background: white;
}*/

#assignment > h1 {
    margin: 20px 0;
    text-align: center;
    font-family: Anek Bangla Bold, "Bell MT", serif;
}

#assignment .btn-assigment {
    display: block;
    align-self: center;
    margin: 25px auto;
    border: none;
    padding: 10px 44px;
    font-size: 24px;
    width: 50%;
    position: relative;
    border-radius: 50px;
    background-color: #d9d9d9;
    box-shadow: 0 0 15px #ca3698, 0 0 15px #ca3698,
    0 0 15px #ca3698, 0 0 15px #ca3698,
    0 0 15px #ca3698;
}

#assignment .link-model-assigment {
    /*color: #0a53be;*/
    display: block;
    font-size: 18px;
    font-weight: 500;
}

#assignment .btn-assigment::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    width: 8%;
    background: linear-gradient(45deg, #87adfe, #ff77cd);

}

#assignment span {
    color: #000000;
    mix-blend-mode: darken;
}

#assignment .btn-assigment:hover::before {
    width: 100%;
}

#assignment .modal-header {
    background: linear-gradient(45deg,#ff77cd, #a7c7fb);

}

#assignment .modal-content {
    border-radius: 25px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
