/**{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url("../assests/image/background_Image.jpeg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}

#home, #about, #skill, #assignment, #project, #contact {
    background-color: transparent;
}

header.sticky {
    padding: 10px 0;
    background: transparent;
}
.header.sticky ul li a{
    color: black;
}
header {
    position: fixed;
    left: 10px;
    width: 100%;
    padding: 10px 5px;
    transition: 0.6s;
    z-index: 100000;
}
header div nav ul{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
}
header div nav ul li{
    position: relative;
    list-style: none;
}
header div ul li a{
    position: relative;
    margin: 0 7px;
    text-decoration: none;
    color: #232d60;
    background-size: auto;
    border-style: inherit;
    letter-spacing: 2px;
    font-size: 20px;
    transition: all 0.3s ease-out;
}
header div nav ul li a:hover,
header div nav ul li a.active-nav-btn{
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 80px;
}
!*header.sticky div ul li a{
    color: #87adfe;
    color:  #ff77cd;
}*!

.navbar {
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    transition: .3s;
    !*opacity: 0;*!
    animation: SlideTop .5s ease forwards;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

!*.navbar ul li a{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    width: 100%;
    height: 15vh;
    margin: auto;
    align-items: center;
}

.navbar ul li a:hover {
    border-radius: 1px;
    color: white;
}*!
.logo{
    margin: auto;
    width: 80px;
    border-radius: 100px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #232d60;
}

.content h3{
    font-size: 40px;
    font-weight: 90;
    margin-top: 50px;
    margin-bottom: 0;
    color: #232d60;
}

.content h1{
    font-size: 60px;
    font-weight: 150;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.content p{
    font-size: 25px;
    color: #232d60;
}

!*.content p{*!
!*    !*font-size: 25px;*!*!
!*    !*font-weight: 150;*!*!
!*    margin-top: 10%;*!
!*    margin-left: 10%;*!
!*    !*margin-bottom: 15px;*!*!
!*}*!

.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 7px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}

.profile-img{
    height: 80%;
    border-radius: 90px;
    position: absolute;
    bottom: 40px;
    right: 120px;
    box-shadow: 0 0 25px #ca3698, 0 0 25px #ca3698,
                0 0 25px #ca3698, 0 0 25px #ca3698,
                0 0 25px #ca3698;
}


.social-media {
    display: flex;
    justify-content: left;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    !*background: linear-gradient(45deg, #87adfe, #ff77cd);*!
    margin: 3px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgb(150, 150, 150, 0.8);
    transition: all 0.3s ease-out;
}

.icon:hover {
    width: 200px;
    cursor: pointer;
    align-items: center;
    color: #ffffff;
}*/

/*.icon:hover i {*/
/*    color: #ffffff;*/
/*}*/

/*.icon .fa-facebook-f {*/
/*    color: #1a6ed8;*/
/*}*/

/*.facebook:hover {*/
/*    background: #1a6ed8;*/
/*}*/

/*.icon .fa-linkedin-in {*/
/*    color: #0077b5;*/
/*}*/

/*.linkedIn:hover {*/
/*    background: #0077b5;*/
/*}*/

/*.icon .fa-github {*/
/*    color: #000000;*/
/*}*/

/*.gitHub:hover {*/
/*    background: #000000;*/
/*}*/

/*.icon .fa-twitter {*/
/*    color: #000000;*/
/*}*/

/*.twitter:hover {*/
/*    background: #1da1f2;*/
/*}*/

/*.icon .fa-instagram {*/
/*    color: #f2003c;*/
/*}*/

/*.instagram:hover {*/
/*    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);*/
/*}*/

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }

}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }

}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }

}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }

}

/*

#project > h1 {
    margin: 8px 0;
    text-align: center;
    font-family: Anek Bangla Bold, "Bell MT", serif;
}

#project h3 {
    text-align: center;
}

.project-section {
    position: relative;
    !* display: block; *!
}

.my-project-carousel {
    padding: 20px;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-project-carousel > * {
    flex: 0 0 auto;
}

.my-project-carousel .project-carousel-item {
    margin: 0;
    width: 40%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.my-project-carousel .project-carousel-item img {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

.my-project-carousel .project-carousel-item img:hover .my-project-header {
    background-color: #cc0000;
}

.my-project-carousel .project-carousel-item img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}

.my-project-carousel .project-carousel-nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

.my-project-carousel .project-carousel-nav div {
    width: 400px;
}

.my-project-carousel .project-carousel-nav div h5 {
    font-weight: bold;
}

.my-project-carousel .project-carousel-nav div p {
    font-size: 13px;
}

.my-project-carousel .project-carousel-nav button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #ffffff;
    border: 0;
    margin: 0 10px;
}
*/

.assignment-div{
    height: 280vh;
    width: 100%;
    background-image: url("../assests/image/background_Image.jpeg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}
/*
#assignment > h1{
    margin: 20px 0;
    text-align: center;
    font-family: Anek Bangla Bold, "Bell MT" , Serif;
}

#assignment .btn-assignment {
    display: block;
    align-self: center;
    margin: 25px auto;
    border: none;
    padding: 10px 44px;
    font-size: 20px;
    width: 50%;
    position: relative;
    border-radius: 50px;
    background: white;
}*/

#assignment > h1 {
    margin: 20px 0;
    text-align: center;
    font-family: Anek Bangla Bold, "Bell MT", serif;
}

#assignment .btn-assigment {
    display: block;
    align-self: center;
    margin: 25px auto;
    border: none;
    padding: 10px 44px;
    font-size: 24px;
    width: 50%;
    position: relative;
    border-radius: 50px;
    background-color: #d9d9d9;
    box-shadow: 0 0 15px #ca3698, 0 0 15px #ca3698,
    0 0 15px #ca3698, 0 0 15px #ca3698,
    0 0 15px #ca3698;
}

#assignment .link-model-assigment {
    /*color: #0a53be;*/
    display: block;
    font-size: 18px;
    font-weight: 500;
}

#assignment .btn-assigment::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    width: 8%;
    background: linear-gradient(45deg, #87adfe, #ff77cd);

}

#assignment span {
    color: #000000;
    mix-blend-mode: darken;
}

#assignment .btn-assigment:hover::before {
    width: 100%;
}

#assignment .modal-header {
    background: linear-gradient(45deg,#ff77cd, #a7c7fb);

}

#assignment .modal-content {
    border-radius: 25px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.service-div{
    height: 140vh;
    width: 100%;
    background-image: url("../assests/image/background_Image.jpeg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

#sercive > h1 {
    color: #232d60;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    font-family: Anek Bangla Bold, "Bell MT", serif;
}

#sercive > section {
    display: flex;
    justify-content: space-around;
}

#sercive .box {
    padding: 25px 10px;
    border-radius: 25px;
    margin: 25px;
    background: linear-gradient(45deg, #fd80cf, #a7c7fb);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /*transition: transform 0.5s;*/
    transition-duration: 0.2s;
    transition-property: background, border;
}

#sercive .box:hover {
    border: 3px solid transparent;
    border-radius: 30px;
    transform: rotate(-2deg);
    transition-delay: 0.2s;
}

#sercive img {
    width: 60px;
}

#sercive h4 {
    color: #232d60;
    font-size: 20px;
    margin-bottom: 50px;
}

#sercive p {
    font-size: 16px;
}

#sercive h4 {
    font-size: 20px;
    padding: 25px;
    text-align: center;
}

#sercive h4 a {
    color: #232d60;
    text-decoration: none;
}
#sercive h4 a:hover {
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    color: white;
    border-radius: 50px;
    font-size: 23px;
    font-weight: bold;
}

.project-div{
    height: 140vh;
    width: 100%;
    background-image: url("../assests/image/background_Image.jpeg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

#project > h1 {
    color: #232d60;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    font-family: Anek Bangla Bold, "Bell MT", serif;
}
#project > section {
    display: flex;
    justify-content: space-around;
}
/*#project > div>section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#project > div>section > div>div>div>div.box{
    max-width: 300px;
    margin: 10px auto;
    background: red;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}*/

#project .box{
    width: 40vh;
    height: 60vh;
    color: #232d60;
    padding: 30px 15px;
    border-radius: 20px;
    margin: 25px;
    background: white;
    box-shadow: 0 0 15px #ca3698, 0 0 15px #ca3698,
    0 0 15px #ca3698, 0 0 15px #ca3698,
    0 0 15px #ca3698;
}

#project .box:hover {
    border: 3px solid transparent;
    background: linear-gradient(45deg,#ff77cd, #87adfe );
    color: white;
    font-size: 20px;
}