.service-div{
    height: 140vh;
    width: 100%;
    background-image: url("../assests/image/background_Image.jpeg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

#sercive > h1 {
    color: #232d60;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    font-family: Anek Bangla Bold, "Bell MT", serif;
}

#sercive > section {
    display: flex;
    justify-content: space-around;
}

#sercive .box {
    padding: 15px 10px;
    border-radius: 25px;
    margin: 25px;
    background: linear-gradient(45deg, #fd80cf, #a7c7fb);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /*transition: transform 0.5s;*/
    transition-duration: 0.2s;
    transition-property: background, border;
}

#sercive .box:hover {
    border: 3px solid transparent;
    border-radius: 30px;
    transform: rotate(-2deg);
    transition-delay: 0.2s;
}
/*

#sercive img {
    width: 60px;
}
*/

#sercive h4 {
    color: #232d60;
    font-size: 20px;
    margin-bottom: 50px;
}

#sercive p {
    font-size: 16px;
}

#sercive h4 {
    font-size: 20px;
    padding: 25px;
    text-align: center;
}

#sercive h4 a {
    color: #232d60;
    text-decoration: none;
}
#sercive h4 a:hover {
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    color: white;
    border-radius: 50px;
    font-size: 23px;
    font-weight: bold;
}
